.navbar-brand
{
    height: auto;
    padding: 0px 15px;
}

#navbar1 ul
{
    padding: 1% 0px;
    margin-top: 1%;
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #235aaf;
    color: white;
    padding: 10px 0px;
}

.navbar-nav .active a
{
    background: #235aaf !important;
    color: #fff !important;
    border: 1px solid #235aaf !important;
}

.sidebar-list > ul > li
{
    font-size: 15px;
    font-weight: bold;
}

.left-side p
{
    font-size: 15px;
}

body
{
    font-family: 'open-sans';
}

.sidebar-list
{
    box-shadow: 3px 3px 3px #ddd;
}
